@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Successful Log In!</h1>
    <img src="~/lib/DSC_0875.JPG" alt="Success" style="max-width: 50%; margin: auto;">
</div>
